/* line 1, css/app */
.item {
  float: left;
  width: 25%;
  margin-bottom: 5px;
}
/* line 6, css/app */
.itemList {
  list-style-type: none;
}
/* line 10, css/app */
#productAddedToCart {
  display: none;
}
